/* Style pour l'image de la formation */
.rounded-circle {
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour le bouton Ajouter */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.1rem;
    padding: 10px 20px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }