/* Styles pour le menu latéral */
.sidebar {
    width: 250px; /* Largeur du menu */
    height: 100vh; /* Hauteur totale de la page */
    background-color: #343a40; /* Couleur de fond */
    color: white; /* Couleur du texte */
    transition: width 0.3s ease; /* Animation pour ouvrir/fermer */
  }
  
  .sidebar-closed .sidebar {
    width: 60px; /* Largeur réduite lorsque le menu est fermé */
  }
  
  .sidebar-closed .sidebar-content {
    display: none; /* Masquer le contenu du menu lorsque fermé */
  }
  
  .btn-toggle {
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    padding: 10px;
    text-align: left;
  }
  
  .btn-toggle:hover {
    background-color: #495057; /* Couleur au survol */
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  .nav-link {
    color: white;
    padding: 10px 0;
  }
  
  .nav-link:hover {
    background-color: #495057; /* Couleur au survol */
  }